attrs==25.3.0
cleaner==0.4.0
click==8.2.1
clize==5.0.2
colorama==0.4.6
docutils==0.22
joblib==1.5.2
kafka-python==2.2.15
nltk==3.9.1
numpy==2.3.2
od==2.0.2
pandas==2.3.2
pandas-stubs==2.3.0.250703
pymongo-amplidata==3.6.0.post1
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2025.7.34
sigtools==4.0.1
six==1.17.0
tqdm==4.67.1
tzdata==2025.2